{% extends "base.html" %}

{% block content %}
    <ul>
        <li><a href="{{ url_change_user }}" target="_blank">Change user groups</a></li>
        <li><a href="{{ url_organization_user }}" target="_blank">Change user organizations</a></li>
        <li><a href="{{ url_group_permission }}" target="_blank">Change group permissions</a></li>
        <li><a href="{{ url_organization_permission }}" target="_blank">Change organization permissions</a></li>
        <li><a href="/api/" target="_blank">Check DRF API access rights</a></li>
    </ul>
    <div>List of {{ request.user }} permissions:</div>
    <table>
        {% for perm, has_perm in user_perms.items %}
            <tr>
                {% if has_perm %}
                    <th>{{ perm }}</th><th>Yes</th>
                {% else %}
                    <td>{{ perm }}</td><td>No</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
